@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
  color: #172b4d;
  margin: 0;
}

.header-class {
  width: 100%;
  margin: auto;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1rem 1.5rem;
}

.nav-container a {
  font-style: normal;
  font-weight: 800;
  font-size: 1.4rem;
  text-transform: capitalize;
  text-decoration: none;
  color: blue;
}

.flex-menu {
  width: 18px;
  height: 12px;
  padding: 8px;
}

.headline-section {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0 0;
  background-image: url("./img/test.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-bottom-left-radius: 140px;
}

.big-text {
  width: 80%;
  height: 150px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 35px auto;
}

.small-text {
  position: static;
  width: 327px;
  left: 24px;
  top: 276px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 21px 40px;
}

.blue-text a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: blue;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 40px 40px;
  font-weight: 800;
  text-decoration: none;
}

.hambu-menu {
  display: none;
  background-color: rgba(96, 112, 255, 1);
  flex-direction: column;
  position: fixed;
  height: 100vh;
  top: 0;
  width: 557px;
  align-items: center;
  gap: 50px;
}

.hambu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
  text-align: left;
}

.hambu-child {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: white;
  text-decoration: none;
  text-align: left;
}

.x-img {
  right: -35px;
  top: 10px;
  min-width: 30px;
  position: relative;
}

.contact {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  gap: 10px;
  align-items: center;
  list-style: none;
}

.first-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

main {
  background-color: #fff;
}

.flex-container {
  grid-template-columns: 5% 90% 5%;
}

.pageone {
  background-color: #fff;
  border: 1px;
  border-color: #dfe1e6;
  border-radius: 16px;
  width: 70%;
  padding: 10%;
  margin: 0 auto;
  flex-direction: column;
}

.card-image {
  max-width: 100%;
}

.flex {
  display: flex;
}

h1 {
  flex: 1;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #172b4d;
  font-size: 32px;
}

h2 {
  font-size: 16px;
}

.flex-items {
  display: flex;
}

li {
  flex: 1;
  color: #7a869a;
  font-size: 13px;
}

.flex-button {
  display: flex;
  list-style: none;
  padding: 4px 12px;
}

.custom-button {
  background: #ebebff;
  border-radius: 8px;
  color: #6070ff;
  border: none;
  padding: 5px 10px;
}

.grid-container {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 60px;
  padding: 40px;
}

.big-button {
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 8px;
  border: 2px solid #396df2;
  padding: 10px;
  color: #396df2;
  background-color: transparent;
}

.about-me {
  background-color: #fff;
  border-top-right-radius: 140px;
  display: flex;
  flex-direction: column;
  padding-bottom: 200px;
  align-items: flex-start;
}

.lang {
  list-style: none;
}

.buttons {
  display: flex;
}

.button-fin {
  display: flex;
  width: 100%;
  padding-left: 10px;
  margin-top: 10px;
  border-radius: 8px;
  background-color: #f7f7f9;
  min-width: 300px;
  min-height: 53px;
  color: black;
  gap: 1rem;
}

footer {
  background-color: #6070ff;
  border-top-left-radius: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 100px;
  font-family: "Poppins", sans-serif;
  color: white;
  background-image: url("./img/contact-form.png");
  background-size: cover;
  margin-top: -80px;
}

.cards {
  display: none;
}

.contact-me {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
}

.left {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
}

.test {
  align-items: center;
}

.end-button {
  display: flex;
  flex-direction: column;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 8px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border: 1px solid #fff;
  color: blue;
}

.frame {
  display: flex;
  color: black;
  list-style: none;
  align-items: center;
}

.M-25 {
  margin-left: 25px;
}

.skill {
  color: black;
  margin-left: 30px;
  font-size: 18px;
}

.text-area {
  width: 100%;
  border: 1px;
  border-radius: 8px;
  padding: 5px 5px 12px 5px;
  margin-top: 8px;
  color: white;
}

.comment-section {
  border-radius: 8px;
  width: 100%;
  margin: 8px 20px 20px 1px;
  padding: 4px;
}

.desktop-toolbar {
  display: none;
}

input:focus,
textarea:focus {
  outline: none;
}

.custom-gap {
  gap: 2rem;
}

button:hover {
  cursor: pointer;
}

#popup {
  margin-left: 10%;
  position: fixed;
  width: 411px;
  height: 560px;
  background-color: white;
  top: 21px;
  display: none;
}

.popup-active {
  display: block !important;
}

.popup-img {
  display: none;
}

.popup-image-mobile {
  background-repeat: no-repeat;
  height: 218px;
  background-image: url(./img/popupimg.png);
  width: 335px;
  margin-left: 12%;
}

.popup-list-item-hidden {
  display: none;
}

.popup-list-item {
  background: #ebebff;
  border-radius: 8px;
  color: #6070ff;
  border: none;
  padding: 5px 10px;
  display: inline-block;
}

.popup-list {
  position: relative;
  left: 28%;
}

.button-from {
  position: relative;
  bottom: -133px;
  text-align: center;
  display: flex;
  gap: 5px;
  left: 29%;
  top: 22%;
}

.popup-button {
  letter-spacing: 0.03em;
  border-radius: 8px;
  border: 2px solid #396df2;
  padding: 10px;
  color: #396df2;
  background-color: transparent;
}

.close {
  position: relative;
  left: 88%;
  font-size: 29px;
  display: inline-block;
  transform: rotate(90deg);
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}

.popup-name {
  position: relative;
  left: 19px;
}

.p-popup {
  margin-left: 5%;
}

@media screen and (min-width: 900px) {
  .flex-menu {
    display: none;
  }

  .desktop-toolbar a {
    color: blue;
  }

  .header-class ul {
    display: flex;
    list-style: none;
  }

  .hambu-menu {
    display: none;
  }

  .header-class li {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    padding: 0 0 0 1.5rem;
    margin-right: 15px;
  }

  .about-me {
    display: none;
  }

  .about-mesd {
    display: flex;
    flex-direction: row;
    padding: 24px;
    height: 844px;
    justify-content: center;
    background-color: #fff;
    border-top-right-radius: 140px;
  }

  .aboutthree {
    display: flex;
    flex-direction: row;
  }

  .headline-section {
    display: none;
  }

  .headline-sectionds {
    display: grid;
    align-items: center;
    justify-items: left;
    background-image: url("./img/bgxxl.png");
    margin: 20px 10px 10px 10px;
    border-bottom-left-radius: 140px;
  }

  .small-text {
    width: 90%;
  }

  .cards {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 5rem;
    padding-top: 5rem;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
    align-items: center;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
  }

  .img-one {
    margin: 1rem 1rem 1rem 4rem;
    width: 49vw;
  }

  .pageone {
    display: none;
  }

  .big-buttonds {
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 8px;
    border: 2px solid #396df2;
    padding: 10px;
    color: #396df2;
    background-color: transparent;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
  }

  .big-buttonds:hover {
    transform: rotate(360deg);
  }

  .custom-buttonds {
    background: #ebebff;
    border-radius: 8px;
    color: #6070ff;
    border: none;
    padding: 5px 10px;
  }

  .flex-buttonds {
    display: flex;
    list-style: none;
    padding: 4px 12px;
  }

  .flex-items {
    display: flex;
  }

  .leftds {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
  }

  .grid-cardone {
    margin: 1% 1% 6% 4%;
  }

  .flexds {
    display: flex;
    align-items: baseline;
  }

  .list-ds {
    display: flex;
    flex: 1;
    margin: 1rem 1rem 1rem 1rem;
    gap: 0.5rem;
  }

  .list-ds li {
    color: darkslategrey;
  }

  .custom-gap {
    gap: 5rem;
  }

  #popup {
    right: 194px;
    position: fixed;
    width: 1108px;
    height: 678px;
    background-color: white;
    top: 21px;
    display: none;
  }

  .popup-active {
    display: block !important;
  }

  .popup-name {
    position: relative;
    left: 129px;
  }

  .popup-img {
    display: block;
    width: 847px;
    height: 396px;
    position: relative;
    right: -128px;
  }

  .p-popup {
    text-align: justify;
    width: 442px;
    position: relative;
    left: 119px;
    float: left;
    height: 171px;
  }

  .popup-list {
    gap: 11px;
    float: right;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 260px;
    position: relative;
    left: -214px;
    column-gap: 8px;
  }

  .popup-list-item {
    background: #ebebff;
    border-radius: 8px;
    color: #6070ff;
    border: none;
    padding: 5px 10px;
  }

  .popup-list-item-hidden {
    background: #ebebff;
    border-radius: 8px;
    color: #6070ff;
    border: none;
    padding: 5px 10px;
    display: inline-block;
  }

  .button-from {
    position: relative;
    bottom: -133px;
    text-align: center;
    display: flex;
    gap: 5px;
    left: 20%;
    top: 15%;
  }

  .popup-button {
    letter-spacing: 0.03em;
    border-radius: 8px;
    border: 2px solid #396df2;
    padding: 10px;
    color: #396df2;
    background-color: transparent;
  }

  .close {
    position: relative;
    left: 88%;
    font-size: 29px;
    display: inline-block;
    transform: rotate(90deg);
    font-weight: 500;
    cursor: pointer;
    user-select: none;
  }

  .popup-image-mobile {
    display: none;
  }
}
